@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

._container {
  max-width: 1306px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul > li {
  list-style: none;
}

ul > li > a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.header__burger {
  position: absolute;
  top: 30px;
  right: 15px;
  z-index: 5;
  display: block;
  width: 44px;
  height: 19px;
  cursor: pointer;
}

.header__burger::before,
.header__burger::after,
.header__burger span {
  position: absolute;
  right: 0;
  height: 12%;
  width: 100%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #333333;
}

.header__burger::before,
.header__burger::after {
  content: "";
}

.header__burger::before {
  top: 0;
  border-radius: 20%;
}

.header__burger::after {
  bottom: 0;
  border-radius: 20%;
}

.header__burger span {
  top: 50%;
  border-radius: 20%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.header__burger._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.header__burger._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.header__burger._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

header {
  background-color: #FED100;
  overflow: hidden;
}

.nav {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  z-index: 5;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.nav__menu-items {
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 452px;
  margin-left: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__menu-items._active {
  overflow: auto;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin-left: 0;
  position: absolute;
  padding: 80px 0 0 90px;
  background: rgba(254, 209, 0, 0.95);
}

.nav__menu-items li {
  padding-right: 50px;
}

.nav__menu-items li:last-child {
  padding: 0;
}

.nav__menu-link {
  color: #333333;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.nav__number {
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  color: #333333;
  border-bottom: 1px solid;
}

.burger__menu {
  display: none;
  font-family: "Montserrat" sans-serif;
  font-size: 21px;
  line-height: 140%;
  position: absolute;
  top: 150px;
  left: 35px;
  width: 100vw;
  height: 100%;
}

.burger__menu._active {
  display: block;
}

.burger__menu-link {
  color: #ffffff;
}

.burger__menu-item {
  padding-bottom: 30px;
}

.burger__menu-personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 90px;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}

.burger__menu-personal-li {
  padding: 25px 35px 25px 0;
}

.burger__menu-li {
  padding: 25px 35px 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger__menu-li:last-of-type {
  padding: 25px 0;
}

.mobile_icon-account {
  text-decoration: none;
  font-size: 40px;
}

.mobile_icon-like {
  text-decoration: none;
  font-size: 35px;
}

.burger__menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 90px;
  /* можно на всю ширину, как линии
  justify-content: space-between;*/
}

.main {
  position: relative;
}

.main__title {
  margin-top: 71px;
  font-weight: bold;
  font-size: 70px;
  line-height: 108%;
}

.main__subtitle {
  margin-top: 8px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.main__btns {
  position: relative;
  margin: 45px 0 77px 0;
  width: 304px;
  height: 60px;
}

.main__btn {
  z-index: 2;
  position: absolute;
  width: 304px;
  height: 60px;
  background: #FF352B;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.main__btn-bgr {
  position: absolute;
  z-index: 1;
  left: 8px;
  top: 8px;
  width: 304px;
  height: 60px;
  border: 2px solid #F2F2F2;
}

.main__btn a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #F2F2F2;
}

.main__btn:hover {
  -webkit-transform: translate(4px, 4px);
      -ms-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

.main__btn:active {
  -webkit-transform: translate(8px, 8px);
      -ms-transform: translate(8px, 8px);
          transform: translate(8px, 8px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main__arguments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}

.main__argument {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.main__argument:last-child {
  margin-right: 0;
}

.main__argument p {
  font-size: 16px;
  line-height: 21px;
  padding-left: 10px;
}

.main__courier {
  z-index: 1;
  position: absolute;
}

.main__mini-logo {
  position: absolute;
  left: 130px;
  bottom: 65px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #121611;
  -webkit-transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.phone {
  position: absolute;
  width: 136px;
  height: 136px;
  background: rgba(61, 155, 233, 0.3);
  border-radius: 50%;
  right: 15px;
  bottom: 40px;
  -webkit-transition: 0.5s ease 0.1s;
  -o-transition: 0.5s ease 0.1s;
  transition: 0.5s ease 0.1s;
}

.phone:hover {
  -webkit-transition: 0.5s ease 0.1s;
  -o-transition: 0.5s ease 0.1s;
  transition: 0.5s ease 0.1s;
  background: none;
}

.phone__blue {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transition: 0.5s ease 0.1s;
  -o-transition: 0.5s ease 0.1s;
  transition: 0.5s ease 0.1s;
  background: rgba(61, 155, 233, 0.8);
}

.phone__blue:hover {
  background: #3d9be9;
  -webkit-transition: 0.5s ease 0.1s;
  -o-transition: 0.5s ease 0.1s;
  transition: 0.5s ease 0.1s;
}

.phone__img {
  top: 24px;
  left: 24px;
  position: absolute;
  width: 52px;
  height: 52px;
}

.van {
  position: absolute;
  top: 27px;
  right: -115px;
}

.footer {
  color: #333333;
  font-family: "Gilroy" sans-serif;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #333333;
}

.footer__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 0 50px 0;
}

.footer__title {
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-bottom: 1px solid #333333;
  margin-bottom: 30px;
}

.footer__menu li {
  margin-bottom: 15px;
}

.footer__menu-link {
  padding-left: 10px;
  text-align: left;
}

.footer__pay {
  margin-top: 6px;
}

.footer__pay img {
  width: 45px;
  margin-right: 10px;
  height: 30px;
}

.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-media a {
  margin-right: 24px;
  text-decoration: none;
  color: #333333;
  font-size: 20px;
}

.footer__social-media a:last-child {
  margin-right: 0;
}

.footer__social-media a:hover {
  color: #818181;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  margin: 20px auto;
}

._footer-text-underline {
  text-decoration: underline;
}

.footer__text {
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.footer__wrapper._init .footer__title {
  cursor: pointer;
}

.footer__wrapper._init .footer__title::before,
.footer__wrapper._init .footer__title::after {
  content: "";
  width: 23px;
  height: 2px;
  background-color: #333333;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.footer__wrapper._init .footer__title::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer__wrapper._init .footer__title._active::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.events__wrapper {
  font-family: "Gilroy" sans-serif;
  margin: 100px auto;
}

.events__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.events__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  min-width: 170px;
  min-height: 60px;
}

.events__item:last-child {
  margin-right: 0;
}

.events__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333333;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  background: url(../img/eventMenuRectangle.svg) top left no-repeat, url(../img/eventMenuRectangle2.svg) 5px 5px/auto auto no-repeat;
  line-height: 21px;
}

.events__link._active {
  background-color: #333333;
  background-image: none;
  color: #ffffff;
}

.evets__galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events__galery-elem {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  position: relative;
  padding: 0 30px 30px 0;
  max-width: 350px;
}

.events__galery-img {
  min-width: 350px;
  min-height: 280px;
}

.events__galery-title {
  text-decoration: none;
  position: absolute;
  top: 222px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.salons__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.salons__text {
  max-width: 730px;
  font-family: "Gilroy" sans-serif;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.salons__btn {
  font-family: "Gilroy" sans-serif;
  margin: 50px 0 50px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 35px;
  width: 235px;
  height: 51px;
  color: #333333;
  background: #ffffff;
  border: 1px solid #333333;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.articles__wrapper {
  margin: 100px auto;
  text-align: center;
}

.articles__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles__item {
  position: relative;
  min-width: 350px;
  min-height: 370px;
  padding: 0;
}

.articles__img {
  width: 100%;
}

.articles__link {
  text-decoration: none;
  max-width: 204px;
  position: absolute;
  top: 248px;
  left: 73px;
  text-align: center;
  font-size: 21px;
  line-height: 140%;
  color: #ffffff;
}

.articles__btn {
  margin-top: 60px;
}

.social__wrapper {
  margin: 80px auto 130px auto;
}

.gallery__items {
  display: -ms-grid;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
}

.gallery__item {
  position: relative;
  padding: 0 0 50% 0;
}

.gallery__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.social__video {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

body {
  color: #333333;
  font-family: "Montserrat";
}

._subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

._title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #333333;
  margin-bottom: 15px;
}

.yellow-btn {
  color: #333333;
  font-family: "Montserrat";
  width: 250px;
  height: 51.34px;
  background: #FED100;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 77px;
}

.events {
  margin: 0 auto;
}

.events__title {
  margin: 97px 0 58px 0;
}

.events__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 5px 0 15px 0;
}

.events__info {
  margin-left: 35px;
}

.events__wrapper-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.events__event {
  margin: 2px 35px 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.events__img {
  margin-top: 13px;
  min-height: 35px;
  min-width: 63px;
  position: relative;
}

.events__img-main {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.events__img-backgr {
  margin-left: 2px;
  top: 0;
  left: 2px;
  z-index: 1;
}

.events__text {
  font-size: 16px;
  line-height: 21px;
}

.price {
  margin: 0 auto 101px auto;
}

.price__title {
  padding-top: 55px;
}

.price__subtitle {
  margin: -3px auto 60px auto;
}

.price__room-price {
  margin: 63px 0 54px 0;
}

.price__room-subtitle {
  margin: 84px auto 60px auto;
}

.price__rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-right: 23px;
  text-align: center;
  border: 1px solid #EBEBEB;
}

.price__room:last-of-type {
  margin-right: 0;
}

.price__rooms._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__room p {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 29px;
}

.price__room p:last-of-type {
  margin-bottom: 0;
}

._mobile-room._active {
  display: block;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.price__all-room {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: underline;
  margin-bottom: 50px;
}

.price__all-room._active {
  display: none;
}

.auto {
  margin-bottom: 45px;
}

.auto__title {
  margin-bottom: 17px;
}

.auto__subtitle {
  margin-bottom: 60px;
  margin-left: 5px;
}

.auto__choise {
  position: relative;
  margin: 0 auto;
}

.auto__liSubtitle {
  margin: 32px 0 37px 0;
  text-align: left;
}

.auto__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 55px;
}

.auto__param {
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 28px 2px;
}

.auto__param::before {
  content: url(../img/checkMark.svg);
  padding-right: 15px;
}

.auto__btn {
  margin: 7px 0 50px 0;
}

.slider__slide img {
  margin: -17px 57px 0 0;
}

.slider__btns {
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__btn {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  border: 1px solid #EBEBEB;
  width: 201px;
  height: 50px;
  margin-right: 15px;
}

.slider__btn:last-of-type {
  margin-right: 0;
}

.slider__btnGasel._active,
.slider__btnKabluk._active,
.slider__btnTruck._active {
  border: 1px solid #FED100;
}

.slider__container {
  min-width: 0;
}

.slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 0;
  padding: 0 40px;
}

._track-one,
._track-two,
._track-three {
  display: none;
}

._track-one._active,
._track-two._active,
._track-three._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-arrow {
  position: absolute;
  top: 51%;
  z-index: 10;
  font-size: 0;
  width: 20px;
  height: 20px;
}

.slick-arrow.slick-prev {
  left: 35px;
  background: url(../img/arrow.svg) 0 0 no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-arrow.slick-next {
  right: 30px;
  background: url(../img/arrow.svg) 0 0 no-repeat;
}

.slick-track {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  left: calc(50% - 73px);
  bottom: 100px;
}

.slick-dots li {
  position: relative;
  margin: 15px;
}

.slick-dots button {
  background: url(../img/Ellipse.svg) 50% 50% no-repeat;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.slick-dots li.slick-active {
  margin: 13px;
}

.slick-dots li.slick-active button {
  padding: 10px;
  border: 2px solid #FED100;
}

.reviews {
  background: #FED100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__title {
  padding: 100px 0 43px 0;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 420px;
  font-size: 16px;
  line-height: 21px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.reviews__item:last-child {
  margin-right: 0;
}

.reviews__all-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__author {
  text-align: start;
}

.reviews__info {
  margin: 11px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__text {
  font-size: 16px;
  line-height: 21px;
  overflow: hidden;
}

.reviews__text_preview {
  max-width: 420px;
  max-height: 143px;
}

.reviews__text_preview._active {
  display: none;
}

.reviews__text_full {
  display: none;
  max-width: 420px;
}

.reviews__text_full._active {
  display: block;
}

.reviews__btn {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  font-family: "Montserrat";
  margin-top: 18px;
  text-decoration: underline;
}

.reviews__btn_turn._active,
.reviews__btn_read {
  display: block;
}

.reviews__btn_turn,
.reviews__btn_read._active {
  display: none;
}

.reviews__item_all-reviews {
  display: none;
}

.reviews__item_all-reviews._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__item_all-reviews._active .reviews__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
}

.reviews-btn-all {
  margin: 28px 0 95px 0;
  width: 250px;
  height: 50px;
  color: #333333;
  border: 1px solid;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.rating__body {
  position: relative;
  margin: 2px 0 0 10px;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
  font-size: 24px;
  color: #363636;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 1000%;
  height: 100%;
  top: 0;
  left: 0;
  color: #FF352B;
  font-size: 24px;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ratiing__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  display: none;
}

@media (min-width: 767px) {
  .header__burger {
    display: none;
  }

  .price__room:hover {
    border: 1px solid #FED100;
  }

  .price__all-room {
    display: none;
  }
}

@media (min-width: 1020px) {
  .footer__item {
    margin: 0 30px 50px 0;
  }

  .footer__item:last-child {
    margin: 0 0 60px 0;
  }
}

@media (min-width: 1021px) {
  .main__courier {
    left: 47%;
    bottom: 0px;
  }
}

@media (max-width: 1336px) {
  ._container {
    max-width: 1000px;
  }

  .main__argument {
    margin-right: 20px;
  }

  .van {
    display: none;
  }

  .events__item {
    min-width: 140px;
  }

  .events__link {
    font-size: 16px;
    background: url(../img/eventMenuRectangle.svg) top left/135px 55px no-repeat, url(../img/eventMenuRectangle2.svg) 5px 5px/135px 55px no-repeat;
  }

  .articles__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .articles__item {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 15px 0;
    min-width: 300px;
    min-height: 330px;
  }

  .events__info {
    margin-left: 25px;
  }

  .events__event {
    margin: 2px 12px 30px 20px;
  }
}

@media (max-width: 1306px) {
  .events__item {
    min-width: 110px;
    min-height: 40px;
  }

  .events__link {
    font-size: 14px;
    background: url(../img/eventMenuRectangle.svg) top left/105px 35px no-repeat, url(../img/eventMenuRectangle2.svg) 5px 5px/105px 35px no-repeat;
  }
}

@media (max-width: 1020px) {
  ._container {
    max-width: 740px;
  }

  .nav__menu-items {
    margin-left: 10px;
  }

  .nav__menu-items li {
    padding-right: 20px;
  }

  .main__info {
    padding-bottom: 50px;
  }

  .main__arguments {
    display: none;
  }

  .main__courier {
    right: 0;
    height: 515px;
    width: 322px;
    bottom: -1px;
  }

  .phone {
    display: none;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }

  .price__room-price {
    margin: 40px 0;
  }

  .price__room-subtitle {
    margin: 40px auto 40px auto;
    font-size: 20px;
  }

  .auto__param::before {
    padding-right: 5px;
  }

  .slider__slide {
    padding: 0 20px;
  }

  .reviews__author {
    font-size: 20px;
    line-height: 22px;
  }

  .reviews__item_all-reviews._active .reviews__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }
}

@media (max-width: 767px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  body._lock {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .nav {
    padding-top: 30px;
  }

  .nav__logo {
    font-size: 16px;
    line-height: 20px;
  }

  .nav__menu-items {
    display: none;
    max-width: 100%;
    font-size: 25px;
    line-height: 60px;
    margin-left: 10px;
  }

  .nav__menu-link {
    font-size: 25px;
    line-height: 60px;
  }

  .nav__number {
    display: none;
  }

  .main__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
  }

  .main__title {
    font-size: 28px;
    line-height: 131.9%;
    margin-top: 20px;
  }

  .main__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
  }

  .main__btns {
    margin: -20px 0 30px 0;
    width: 292px;
    height: 60px;
  }

  .main__btn {
    width: 292px;
    height: 60px;
  }

  .main__btn-bgr {
    display: none;
  }

  .main__courier {
    width: 248px;
    height: 396px;
    position: relative;
    margin-top: -35px;
  }

  .events__choice {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .events__item {
    max-width: 110px;
    max-height: 40px;
    margin: 10px;
  }

  .events__item:last-child {
    margin-right: 10px;
  }

  .events__link {
    background: url(../img/eventMenuRectangle.svg) top left/105px 35px no-repeat, url(../img/eventMenuRectangle2.svg) 5px 5px/105px 35px no-repeat;
  }

  .yellow-btn {
    margin-bottom: 20px;
  }

  .events__title {
    margin: 40px 0;
    font-size: 20px;
    line-height: 24px;
  }

  .events__subtitle {
    font-size: 16px;
    line-height: 129.9%;
    margin-bottom: 0;
  }

  .events__info {
    margin-left: 15px;
  }

  .events__event {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .events__img {
    margin: 0 0 0 20px;
  }

  .events__text {
    display: none;
  }

  .price {
    background: #F8FBFF;
    margin: 0 auto 50px auto;
  }

  .price__subtitle {
    display: none;
  }

  .price__room {
    margin: 0;
    border: none;
  }

  ._mobile-room {
    display: none;
  }

  .auto {
    margin-bottom: 40px;
  }

  .auto__liSubtitle {
    text-align: center;
  }

  .auto__params {
    margin-left: 0;
  }

  .auto__param {
    display: none;
  }

  .auto__btn {
    margin-top: 50px;
  }

  .slider__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 33px;
  }

  .slider__btn {
    margin-right: 10px;
    width: auto;
  }

  .slider__btn {
    text-align: start;
    border: none;
    border-bottom: 1px solid #EBEBEB;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    margin-right: 25px;
    max-width: 90px;
  }

  .slider__btnGasel._active,
  .slider__btnKabluk._active,
  .slider__btnTruck._active {
    border: none;
    border-bottom: 1px solid #FED100;
  }

  .slider__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
  }

  .slick-arrow {
    display: none;
  }

  .reviews__item_all-reviews._active .reviews__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 720px) {
  .events__galery-elem {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }

  .footer__text {
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .footer__title {
    width: 80%;
  }

  .auto {
    margin-bottom: 30px;
  }

  .slider__slide img {
    margin: -17px 0 0 0;
  }

  .slider__btn {
    margin-right: 15px;
  }

  .rating__body::before {
    font-size: 17px;
  }

  .rating__active::before {
    font-size: 17px;
  }
}

@media (max-width: 376px) {
  .burger__menu-li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 15px 25px 0;
  }

  .burger__menu-social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 360px) {
  .events__galery-img {
    min-width: 280px;
    min-height: 220px;
  }

  .events__galery-elem {
    padding: 10px;
  }

  .events__galery-title {
    top: 180px;
  }

  .articles__img {
    min-width: 300px;
    min-height: 330px;
  }

  .articles__link {
    left: 48px;
  }
}

@media (min-width: 1020px) and (max-width: 1336px) {
  .gallery__items {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media (max-width: 1020px) and (min-width: 767px) {
  .yellow-btn {
    margin-bottom: 40px;
    width: 200px;
  }

  .slider__slide img {
    max-width: 430px;
  }
}